<!DOCTYPE html>
<html>

<head>
    <title>Cálculo da Espessura</title>
</head>

<body>
    <h1>Cálculo da Espessura</h1>

    <form action="/espessura" method="post">

        <label for="q">Q (m³/h):</label>
        <input type="text" name="q" id="q" required value="32.4"><br><br>

        <label for="l_equi">Comprimento equivalente (m):</label>
        <input type="text" name="l_equi" id="l_equi" required value="80.9"><br><br>

        <label for="h1">H1 (m):</label>
        <input type="text" name="h1" id="h1" required value="3.6"><br><br>

        <label for="h2">H2 (m):</label>
        <input type="text" name="h2" id="h2" required value="1"><br><br>

        <label for="p_atm">P_atm (kPa):</label>
        <input type="text" name="p_atm" id="p_atm" required value="103.3"><br><br>

        <label for="p_vapor">P_vapor (kPa):</label>
        <input type="text" name="p_vapor" id="p_vapor" required value="35.2"><br><br>

        <label for="peso_esp">Peso Específico (N/dm³):</label>
        <input type="text" name="peso_esp" id="peso_esp" required value="7.8"><br><br>

        <label for="visc">Viscosidade (stokes):</label>
        <input type="text" name="visc" id="visc" required value="0.06"><br><br>

        <label for="vel_eco">Velocidade Econômica (m/s):</label>
        <input type="text" name="vel_eco" id="vel_eco" required value="1"><br><br>

        <label for="npsh">NPSH (m):</label>
<input type="text" name="npsh" id="npsh" required value="1.9"><br><br>

        <input type="submit" value="Calcular">
    </form>
</body>

</html>
