<!DOCTYPE html>
<html>

<head>
    <title>Calculadora de IMC</title>
</head>

<body>
    <h1>Calculadora de IMC</h1>
    <form action="/calculate" method="post">
        <label for="q">Q (m^3/h):</label>
        <input type="text" name="q" id="q" required><br><br>

        <label for="l_equi">Comprimento equivalente (metros):</label>
        <input type="text" name="l_equi" id="l_equi" required><br><br>

        <label for="h1">H1 (metros):</label>
        <input type="text" name="h1" id="h1" required><br><br>

        <label for="h2">H2 (metros):</label>
        <input type="text" name="h2" id="h2" required><br><br>

        <label for="p1">P1 (kPa):</label>
        <input type="text" name="p1" id="p1" required><br><br>

        <label for="hr">Hr (metros):</label>
        <input type="text" name="hr" id="hr" required><br><br>

        <label for="pr">Pr (kPa):</label>
        <input type="text" name="pr" id="pr" required><br><br>

        <label for="peso_esp">Peso Especifico (N/dm^3):</label>
        <input type="text" name="peso_esp" id="peso_esp" required><br><br>

        <label for="visc">Viscosidade (stokes):</label>
        <input type="text" name="visc" id="visc" required><br><br>

        <label for="vel_eco">Velocidade Econômica (m/s):</label>
        <input type="text" name="vel_eco" id="vel_eco" required><br><br>

        <!-- <label for="l3">L3 (metros):</label>
        <input type="text" name="l3" id="l3" required><br><br>

        <label for="l4">L4 (metros):</label>
        <input type="text" name="l4" id="l4" required><br><br>

        <label for="q">Q (m^3/h):</label>
        <input type="text" name="q" id="q" required><br><br> -->



        <input type="submit" value="Calcular">
    </form>
</body>

</html>